@import url('https://s7uck.github.io/readability.css');

body {font-family: monospace;
 margin: 17%;
 text-shadow: 0px 0px 18px aquamarine;
 max-width: 50ch;}
header,footer,hr,hr:before,nav,nav ul {text-align: left;}
a {color: aquamarine;}
hr:before {content: "~-~·~-~";
 color: aquamarine;}
details {border-color: pink;}
button,a.btn {background-color: aquamarine;
 border: pink;
 color: #333;}
blockquote,pre code {border-color: aquamarine;
 background-color: #111;
 box-shadow: 0px 0px 2px pink inset;}

nav img{filter:invert();}
@media (prefers-color-scheme: light){
 body {background-color:#eee; color: #555;}
 a, hr:before {color: #777;}
 nav img {filter: invert();}
}

h1:first-of-type {
  background: linear-gradient(to right, #737373, aquamarine);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
h1,h2,h3,nav a,summary { letter-spacing: 1px;
 text-transform: uppercase;}
nav a {
 font-size: .85em;
 padding: 6px;
 border-radius: 100vmax;}
nav a:hover {background-color:aquamarine; color: #333;}
nav a:hover img {filter: invert();}
img.icns {max-width: 1.4em;
 margin-right: 10px;}
.propic {border-radius: 4px;}
